body,
html {
    height: 100%;
    margin: 0;
    background-color: red;
}

.bg {
    /* The image used */
    background-image: url("/images/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nash-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4em;
    color: rgb(3, 3, 3);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    text-align: center;
    padding-top: 1em;
}

@media only screen and (max-width: 600px) {
    .nash-text {
        font-size: 2em;
        font-weight: 600;
        padding-top: 3em;
    }
}
